@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import './types.css';
@import './animation.css';
@import './grid.css';

.hamburger-button {
    position: relative;
	transition: .3s ease-in-out;
    max-width: 34px;
    width: 34px;
	height: 26px;
	display: block;
	z-index: 100;
}

.hamburger-button span {
    position: absolute;
    height: 4px;
    width: 100%;
    @apply bg-mainBlue;
    top: 0;
    transition: all .2s ease-in-out, opacity .2s ease-in-out;
}

.hamburger-button span:nth-child(1) {
    top: 0px;
    right: 0px;
    width: 100%;
}

.hamburger-button span:nth-child(2),
.hamburger-button span:nth-child(3) {
    top: 10px;
}

.hamburger-button span:nth-child(4) {
    top: 20px;
    right: 0px;
    width: 100%;
}

.hamburger-button.active span {
    @apply bg-white;
}

.hamburger-button.active span:nth-child(1),
.hamburger-button.active span:nth-child(4) {
    opacity: 0;
}

.hamburger-button.active span:nth-child(2) {
    transform: rotate(45deg);
}

.hamburger-button.active span:nth-child(3) {
    transform: rotate(-45deg);
}

body {
    background-color: #FFFCF6;
}

body::-webkit-scrollbar {
  width: 6px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #333333;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

#modals-container .v--modal-overlay {
    @apply py-3 pb-5;
    background: rgba(0, 0, 0, 0.6);
}


#modals-container .v--modal {
    box-sizing: border-box;
    box-shadow: 0 13px 16px 0px rgba(0, 0, 0, 0.16);
    left: 0!important;
    @apply max-w-xl rounded-2xl bg-white mx-auto; 
}

#modals-container h1 {
    @apply text-center mb-6;
}


